@font-face {
  font-family: "Azonix";
  src: url("fonts/Azonix.otf") format("opentype"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 70vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 70vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.nekretnine {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .nekretnine {
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .nekretnine {
      grid-template-rows: repeat(3, min-content); } }

.o-nama {
  display: grid;
  grid-template-rows: repeat(2, min-content) 40vw repeat(2, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .o-nama {
      grid-template-rows: repeat(5, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .o-nama {
      grid-template-rows: repeat(5, min-content); } }

.contact {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .contact {
      grid-template-rows: repeat(5, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .contact {
      grid-template-rows: repeat(5, min-content); } }

.nekretnina {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .nekretnina {
      grid-template-rows: repeat(5, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .nekretnina {
      grid-template-rows: repeat(5, min-content); } }

::selection {
  background-color: #c69963;
  color: #fff; }

.heading-1, .heading-2, .heading-2--tall, .heading-3, .heading-4, .heading-5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--tall {
    font-size: 4rem;
    font-style: italic;
    line-height: 1.6; }
    @media only screen and (max-width: 50em) {
      .heading-2--tall {
        font-size: 2.8rem; } }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.heading-5 {
  font-size: 2.1rem; }
  .heading-5--light {
    color: #f9f7f6; }
  .heading-5--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;
  outline: none; }
  .btn:hover {
    background-color: #54483A; }

.btn-fake {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  transition: all .2s;
  outline: none; }

.mb-s {
  margin-bottom: 2rem; }

.mb-m {
  margin-bottom: 3rem; }

.mb-l {
  margin-bottom: 4rem; }

.mb-xl {
  margin-bottom: 8rem; }

.mb-xxl {
  margin-bottom: 10rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex; }
  @media only screen and (max-width: 50em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: flex-end;
      align-items: center; } }
  .sidebar__checkbox {
    display: none; }
  .sidebar__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    z-index: 2000;
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 50em) {
      .sidebar__button {
        position: relative; } }
  .sidebar__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -15%;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all .5s ease-in-out;
    background-color: #c69963; }
    @media only screen and (max-width: 50em) {
      .sidebar__nav {
        grid-column: 1 / -1;
        height: 0vh;
        left: 0%;
        top: -60%;
        z-index: 1500;
        opacity: 0;
        width: 100%;
        transition: all .5s ease-in-out;
        background-color: #c69963; } }
  .sidebar__list {
    position: absolute;
    top: 10%;
    left: 5%;
    list-style-type: none;
    text-align: center;
    white-space: nowrap;
    width: 10%; }
    @media only screen and (max-width: 50em) {
      .sidebar__list {
        left: 30%; } }
  .sidebar__item {
    margin: 1rem; }
  .sidebar__link {
    transition: all .3s ease-in-out; }
    .sidebar__link:link, .sidebar__link:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 1rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase; }
    .sidebar__link:hover, .sidebar__link:active {
      transform: translateX(1rem); }
  .sidebar__checkbox:checked ~ .sidebar__nav {
    opacity: 1;
    width: 18%;
    left: 0%; }
    @media only screen and (max-width: 50em) {
      .sidebar__checkbox:checked ~ .sidebar__nav {
        width: 100%;
        height: 45vh;
        top: 0; } }
  .sidebar__icon {
    position: relative;
    margin-top: 3.5rem;
    margin-left: .5rem; }
    .sidebar__icon, .sidebar__icon::before, .sidebar__icon::after {
      width: 4.5rem;
      height: 2px;
      background-color: #fff;
      display: inline-block; }
    .sidebar__icon::before, .sidebar__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .4s; }
    .sidebar__icon::before {
      top: -1.5rem; }
    .sidebar__icon::after {
      top: 1.5rem; }
  .sidebar__button:hover .sidebar__icon::before {
    top: -1.5rem; }
  .sidebar__button:hover .sidebar__icon::after {
    top: 1.5rem; }
  .sidebar__checkbox:checked + .sidebar__button .sidebar__icon {
    background-color: transparent; }
  .sidebar__checkbox:checked + .sidebar__button .sidebar__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .sidebar__checkbox:checked + .sidebar__button .sidebar__icon::after {
    transform: rotate(-135deg);
    top: 0; }

.header {
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 6rem;
  padding-bottom: 16rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 5rem;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1 / -1;
      grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
      padding-bottom: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 5rem; } }
  .header__logo {
    height: 3rem;
    justify-self: center; }
  .header__btn {
    align-self: start;
    justify-self: start; }

.agents {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 50em) {
    .agents {
      grid-column: 1 / -1;
      padding: 6rem 3rem; } }
  .agents__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .agents__list {
        grid-template-columns: repeat(3, min-content max-content); } }
    @media only screen and (max-width: 37.5em) {
      .agents__list {
        grid-template-columns: min-content max-content; } }
  .agents__img {
    width: 8rem;
    border-radius: 50%;
    display: block; }
  .agents__sold {
    text-transform: uppercase;
    color: #aaa;
    margin-top: -3px; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }
  @media only screen and (max-width: 50em) {
    .features {
      margin: 10rem 0; } }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back-cover.jpg);
  background-size: cover;
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-column: 1 / -1;
      grid-row: 6 / 7;
      padding: 6rem;
      background-image: linear-gradient(rgba(178, 132, 81, 0.8), rgba(178, 132, 81, 0.5)); } }

.story__img--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 50em) {
    .story__img--1 {
      grid-column: 1 / 5;
      grid-row: 1 / -1; } }

.story__img--2 {
  width: 110%;
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  z-index: 10;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 50em) {
    .story__img--2 {
      grid-row: 1 / -1;
      width: 100%; } }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1 / -1;
      grid-row: 5 / 6; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }
  @media only screen and (max-width: 50em) {
    .homes {
      margin: 8rem 0;
      grid-gap: 5rem; } }
  .homes__btn {
    grid-column: 2 / 3; }
    @media only screen and (max-width: 50em) {
      .homes__btn {
        grid-column: 1 / -1; } }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.5rem; }
  .home__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 5; }
  .home__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 7;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    width: 80%;
    justify-self: center;
    align-self: end;
    transform: translateY(50%);
    cursor: default; }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .home__btn {
    grid-column: 1 / -1; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 4 / span 1;
    grid-column: 5 / span 1; }
  .gallery__item--3 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--4 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--5 {
    grid-row: 6 / span 2;
    grid-column: 1 / span 1; }
  .gallery__item--6 {
    grid-row: 1 / span 2;
    grid-column: 6 / span 1; }
  .gallery__item--7 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--8 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 4 / span 1; }
  .gallery__item--12 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--13 {
    grid-row: 3 / span 3;
    grid-column: 8 / span 1; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / span 1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .gallery > * {
    width: 100%; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem; }
  @media only screen and (max-width: 50em) {
    .footer {
      padding: 5rem 4rem; } }

.nav {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center; }

.margin-s {
  margin: 6rem 0; }

.search {
  color: #c69963;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  justify-self: center; }
  .search__list {
    margin: 10px;
    width: 120px;
    padding: 5px 5px 5px 5px;
    font-size: 1.8rem;
    border: 1px solid #c69963;
    height: 34px;
    outline: none;
    position: relative;
    cursor: pointer; }
    @media only screen and (max-width: 50em) {
      .search__list {
        margin: 0 10px; } }
  .search__trazilica {
    font-size: 2rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .search__trazilica svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }

.about {
  grid-column: center-start / center-end;
  color: #c69963;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 50em) {
    .about {
      margin-top: 8rem;
      margin-bottom: 0rem; } }
  .about__img {
    display: flex;
    margin: 2rem auto;
    margin-bottom: 0rem; }
  .about__title {
    font-family: "Azonix", sans-serif;
    font-size: 13rem; }
    @media only screen and (max-width: 50em) {
      .about__title {
        font-size: 6rem; } }
  .about__desc {
    font-size: 4.2rem;
    text-transform: uppercase;
    margin-top: -6.5rem; }
    @media only screen and (max-width: 50em) {
      .about__desc {
        font-size: 1.9rem;
        margin-top: -3rem; } }

.team__people {
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url(../img/team.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5rem; }
  @media only screen and (max-width: 50em) {
    .team__people {
      grid-column: 1 / -1; } }

.team__place {
  grid-column: col-end 4 / full-end;
  background-image: linear-gradient(rgba(198, 153, 99, 0.9), rgba(198, 153, 99, 0.9)), url(../img/ured.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5rem; }
  @media only screen and (max-width: 50em) {
    .team__place {
      grid-column: 1 / -1; } }

.team__img {
  width: 100%; }

.history {
  grid-column: full-start / full-end;
  margin: 5rem 0 15rem 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 50em) {
    .history {
      grid-column: 1 / -1;
      margin: 4rem 0 10rem 0; } }
  .history__title {
    grid-column: 1 / -1;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 50em) {
      .history__title {
        margin-bottom: 3rem; } }
  .history__story {
    grid-column: 1 / 2;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 50em) {
      .history__story {
        grid-column: 1 / -1; } }
  .history__img {
    width: 100%;
    grid-column: 2 / -1;
    padding: 2rem; }
    @media only screen and (max-width: 50em) {
      .history__img {
        grid-column: 1 / -1; } }

.agents2 {
  grid-column: full-start / full-end;
  background-color: #f9f7f6; }
  .agents2__heading {
    text-align: center;
    padding: 12rem 0; }
    @media only screen and (max-width: 50em) {
      .agents2__heading {
        padding: 8rem; } }
  .agents2__cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 12rem;
    margin-bottom: 12rem;
    padding: 0 15rem; }
    @media only screen and (max-width: 50em) {
      .agents2__cols {
        grid-gap: 8rem;
        margin-bottom: 8rem;
        padding: 0 5rem; } }
  .agents2__agent {
    display: grid;
    background-color: #fff; }
  .agents2__img {
    width: 16rem;
    width: 100%;
    grid-column: 1 / -1; }
  .agents2__name {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -1rem;
    color: #101d2c; }
  .agents2__title {
    text-align: center;
    color: #c69963;
    font-size: 1.2em; }
  .agents2__quote {
    padding: 1em;
    font-size: 1.7em; }
  .agents2__phone, .agents2__mail {
    padding: 1em;
    font-size: 1.5rem;
    display: flex;
    align-items: center; }
    .agents2__phone svg, .agents2__mail svg {
      fill: #c69963;
      height: 3rem;
      width: 3rem;
      margin-right: 1rem; }
  .agents2__mail {
    margin-bottom: 1rem; }

.cta {
  grid-column: full-start / full-end;
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 0 0 15rem 0; }
  @media only screen and (max-width: 50em) {
    .cta {
      grid-template-columns: 1fr;
      margin: 0 0 8rem 0; } }
  .cta__location {
    grid-column: 1 / 2;
    width: 100%; }
    @media only screen and (max-width: 50em) {
      .cta__location {
        grid-column: 1 / -1; } }
  .cta__slogan {
    grid-column: 2 / 3;
    padding: 6rem 3rem;
    background-color: rgba(16, 29, 44, 0.93);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .cta__slogan {
        grid-column: 1 / -1;
        grid-row: 1 / 2; } }

.form {
  grid-column: center-start / center-end;
  margin: 0 0 15rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }
  @media only screen and (max-width: 50em) {
    .form {
      margin: 0 0 8rem 0; } }
  .form__input {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: #f9f7f6;
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline-color: #c69963;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__name {
    grid-column: 1 / -1; }
  .form__mail {
    grid-column: 1 / 2; }
    @media only screen and (max-width: 50em) {
      .form__mail {
        grid-column: 1 / -1; } }
  .form__phone {
    grid-column: 2 / 3; }
    @media only screen and (max-width: 50em) {
      .form__phone {
        grid-column: 1 / -1; } }
  .form__message {
    grid-column: 1 / -1; }
  .form__send {
    grid-column: 1 / -1;
    justify-self: center; }

.single {
  grid-column: center-start / center-end;
  margin: 6rem 0 12rem 0;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  background-color: #f9f7f6;
  grid-template-rows: 8rem 6rem 6rem min-content;
  position: relative; }
  .single__img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 100%; }
  .single__back {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    background-color: #f9f7f6;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    color: #000; }
    .single__back:hover {
      background-color: #aaa; }
  .single__name {
    grid-column: 2 / -1;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: #101d2c; }
  .single__location {
    grid-column: 2 / 3; }
  .single__rooms {
    grid-column: 3 / 4; }
  .single__area {
    grid-column: 2 / 3; }
  .single__price {
    grid-column: 3 / 4; }
  .single__description {
    grid-column: 2 / -1;
    margin-top: 1rem;
    padding: 2rem;
    font-size: 1.5rem; }
  .single__location, .single__rooms, .single__area, .single__price {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 3rem;
    padding: 1rem;
    margin-top: 1rem; }
    .single__location svg, .single__rooms svg, .single__area svg, .single__price svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
